.jnpr-button {
  --icon-mg: var(--sp-sm);

  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--radius-rounded);
  transition: background var(--transition-fast), border var(--transition-fast),
    color var(--transition-fast);
  cursor: pointer;

  //* Sizes
  &-small {
    --icon-size: var(--text-size);
    --shape-size: var(--sp-xxl);

    padding: var(--sp-xs) var(--sp-md);
    font-size: var(--text-size);
  }
  &-medium {
    --icon-size: var(--text-size);
    --shape-size: var(--sp-x2p5);

    padding: var(--sp-sm) var(--sp-md);
    font-size: var(--text-size);
  }
  &-large {
    --icon-size: var(--text-size-lg);
    --shape-size: var(--sp-xxxl);

    padding: var(--sp-sm) var(--sp-lg);
    font-size: var(--text-size-lg);
  }

  //* States
  &:focus {
    box-shadow: 0 0 0 var(--sp-xs) var(--main-lighter);
    outline: none;
  }
  &.disabled {
    cursor: not-allowed;
    background-color: var(--gray1);
    border-color: var(--gray2);
    color: var(--gray3);
  }

  //* Shapes
  &-square,
  &-circle {
    --icon-mg: 0;

    width: var(--shape-size);
    height: var(--shape-size);
    padding: 0;
  }
  &-circle {
    border-radius: var(--radius-round);
  }

  //* Icons
  &-icon {
    height: var(--icon-size);
    width: var(--icon-size);
    margin-right: var(--icon-mg);
  }

  //* Appearance
  &-fill {
    color: var(--text-color-white);
    border: 1px solid var(--main);
    background-color: var(--main);
    &:hover {
      background-color: var(--main-light);
      border-color: var(--main-light);
    }
    &:active,
    &.active {
      background-color: var(--main-dark);
      border-color: var(--main-dark);
    }
  }
  &-outline {
    color: var(--main);
    border: 1px solid var(--main);
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
    &:active,
    &.active {
      color: var(--main-dark);
      border-color: var(--main-dark);
      background-color: var(--gray1);
    }
  }
  &-minimal {
    color: var(--main);
    border: 1px solid transparent;
    background-color: transparent;

    &:hover {
      background-color: var(--gray1);
      border-color: transparent;
    }
    &:active,
    &.active {
      color: var(--main-dark);
      border-color: transparent;
      background-color: var(--gray2);
    }
  }

  //* Intents
  &-secondary {
    color: var(--gray5);
    border: 1px solid var(--gray3);
    background-color: transparent;

    &:hover {
      background-color: transparent;
      border-color: var(--gray7);
      color: var(--gray7);
    }
    &:active,
    &.active {
      background-color: var(--gray1);
      border-color: var(--gray9);
      color: var(--gray9);
    }
  }

  @each $i in $intents {
    &-#{$i} {
      --main: var(--#{$i});
      --main-lighter: var(--#{$i}-lighter);
      --main-light: var(--#{$i}-light);
      --main-dark: var(--#{$i}-dark);
    }
  }

  //* Color
  @each $c in $colors {
    &-#{$c} {
      --main: var(--#{$c});
      --main-lighter: var(--#{$c}-lighter);
      --main-light: var(--#{$c}-light);
      --main-dark: var(--#{$c}-dark);
    }
  }
}

// TODO: Move spinner out of this file
.jnpr-spinner {
  animation-name: jnpr-loading-spinner;
  animation-timing-function: linear;
  animation-duration: var(--transition-slower);
  animation-iteration-count: infinite;
}

@keyframes jnpr-loading-spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
