/* Raw definitions */
:root {
  --gray0: hsl(225, 0%, 100%);
  --gray1: hsl(225, 20%, 94%);
  --gray2: hsl(223, 19%, 85%);
  --gray3: hsl(221, 16%, 76%);
  --gray4: hsl(222, 12%, 61%);
  --gray5: hsl(222, 10%, 54%);
  --gray6: hsl(222, 18%, 33%);
  --gray7: hsl(222, 24%, 25%);
  --gray8: hsl(222, 38%, 17%);
  --gray9: hsl(0, 0%, 0%);

  --gray-lighter: var(--gray1);
  --gray-light: var(--gray3);
  --gray: var(--gray4);
  --gray-dark: var(--gray6);
  --gray-darker: var(--gray8);

  --red-lighter: hsl(0, 96%, 89%);
  --red-light: hsl(0, 91%, 71%);
  --red: hsl(0, 84%, 60%);
  --red-dark: hsl(0, 74%, 42%);
  --red-darker: hsl(0, 63%, 31%);

  --orange-lighter: hsl(32, 98%, 83%);
  --orange-light: hsl(27, 93%, 63%);
  --orange: hsl(25, 95%, 53%);
  --orange-dark: hsl(17, 88%, 40%);
  --orange-darker: hsl(15, 75%, 28%);

  --amber-lighter: hsl(40, 82%, 85%);
  --amber-light: hsl(37, 92%, 66%);
  --amber: hsl(37, 91%, 55%);
  --amber-dark: hsl(29, 86%, 43%);
  --amber-darker: hsl(29, 100%, 21%);

  --yellow-lighter: hsl(55, 97%, 88%);
  --yellow-light: hsl(50, 98%, 64%);
  --yellow: hsl(49, 100%, 46%);
  --yellow-dark: hsl(35, 92%, 33%);
  --yellow-darker: hsl(28, 73%, 26%);

  --lime-lighter: hsl(80, 89%, 89%);
  --lime-light: hsl(82, 85%, 67%);
  --lime: hsl(84, 81%, 44%);
  --lime-dark: hsl(86, 78%, 27%);
  --lime-darker: hsl(88, 61%, 20%);

  --green-lighter: hsl(149, 80%, 90%);
  --green-light: hsl(150, 67%, 62%);
  --green: hsl(156, 93%, 42%);
  --green-dark: hsl(157, 93%, 32%);
  --green-darker: hsl(157, 78%, 14%);

  --teal-lighter: hsl(167, 85%, 89%);
  --teal-light: hsl(171, 77%, 64%);
  --teal: hsl(167, 61%, 51%);
  --teal-dark: hsl(167, 80%, 32%);
  --teal-darker: hsl(176, 61%, 19%);

  --blue-lighter: hsl(204, 100%, 89%);
  --blue-light: hsl(204, 94%, 67%);
  --blue: hsl(204, 89%, 48%);
  --blue-dark: hsl(204, 94%, 33%);
  --blue-darker: hsl(205, 100%, 18%);

  --cobalt-lighter: hsl(229, 100%, 90%);
  --cobalt-light: hsl(229, 100%, 74%);
  --cobalt: hsl(229, 100%, 66%);
  --cobalt-dark: hsl(229, 67%, 40%);
  --cobalt-darker: hsl(229, 64%, 33%);

  --purple-lighter: hsl(269, 100%, 92%);
  --purple-light: hsl(270, 65%, 69%);
  --purple: hsl(270, 70%, 60%);
  --purple-dark: hsl(270, 71%, 32%);
  --purple-darker: hsl(270, 76%, 21%);

  --magenta-lighter: hsl(290, 76%, 92%);
  --magenta-light: hsl(290, 83%, 70%);
  --magenta: hsl(290, 84%, 61%);
  --magenta-dark: hsl(290, 79%, 36%);
  --magenta-darker: hsl(290, 75%, 25%);

  --pink-lighter: hsl(326, 100%, 92%);
  --pink-light: hsl(337, 68%, 69%);
  --pink: hsl(337, 70%, 60%);
  --pink-dark: hsl(335, 78%, 42%);
  --pink-darker: hsl(337, 65%, 26%);

  /* Space System */
  --sp: 16px;
  --sp-xxs: calc(var(--sp) * 0.125);
  --sp-xs: calc(var(--sp) * 0.25);
  --sp-sm: calc(var(--sp) * 0.5);
  --sp-md: calc(var(--sp) * 0.75);
  --sp-lg: calc(var(--sp) * 1);
  --sp-xl: calc(var(--sp) * 1.5);
  --sp-x2: var(--sp-xxl);
  --sp-xxl: calc(var(--sp) * 2);
  --sp-x2p5: calc(var(--sp) * 2.5); /* Special case for 40px */
  --sp-x3: calc(var(--sp) * 3);
  --sp-xxxl: var(--sp-x3);
  --sp-x4: calc(var(--sp) * 4);
  --sp-x6: calc(var(--sp) * 6);
  --sp-x8: calc(var(--sp) * 8);
  --sp-x12: calc(var(--sp) * 12);
  --sp-x16: calc(var(--sp) * 16);
  --sp-x24: calc(var(--sp) * 24);
  --sp-x32: calc(var(--sp) * 32);
  --sp-x40: calc(var(--sp) * 40);
  --sp-x48: calc(var(--sp) * 48);

  --font-size: 14px;
  --font-size-sm: 12px;
  --font-size-md: var(--font-size);
  --font-size-ml: 16px; /* Special size in between md/lg */
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-x2: 24px;
  --font-size-xxl: var(--font-size-x2);
  --font-size-x3: 30px;
  --font-size-xxxl: var(--font-size-x3);
  --font-size-x4: 36px;
}

/* Semantic definitions */
:root {
  --text-color0: var(--gray8);
  --text-color: var(--gray6);
  --text-color1: var(--gray5);
  --text-color2: var(--gray4);
  --text-color3: var(--gray3);
  --text-color-header: var(--text-color0);
  --text-color-caption: var(--text-color3);
  --text-color-white: var(--gray0);
  --text-color-black: var(--gray9);

  --text-color-code-lighter: var(--magenta-lighter);
  --text-color-code: var(--magenta);
  --text-color-link: var(--blue);
  --text-color-link-dark: var(--blue-dark);

  --radius-rounded: 6px;
  --radius-round: 50%;

  --font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-header: var(--font);
  --font-caption: var(--font);
  --font-code: monospace;

  --primary-lighter: var(--cobalt-lighter);
  --primary-light: var(--cobalt-light);
  --primary: var(--cobalt);
  --primary-dark: var(--cobalt-dark);
  --primary-darker: var(--cobalt-darker);

  --success-lighter: var(--blue-lighter);
  --success-light: var(--blue-light);
  --success: var(--blue);
  --success-dark: var(--blue-dark);
  --success-darker: var(--blue-darker);

  --warning-lighter: var(--amber-lighter);
  --warning-light: var(--amber-light);
  --warning: var(--amber);
  --warning-dark: var(--amber-dark);
  --warning-darker: var(--amber-darker);

  --danger-lighter: var(--red-lighter);
  --danger-light: var(--red-light);
  --danger: var(--red);
  --danger-dark: var(--red-dark);
  --danger-darker: var(--red-darker);

  /* For interactables */
  --transition-fast: 0.2s;
  /* For system messages */
  --transition: 0.4s;
  --transition-slow: 1s;
  /* For loaders & animations */
  --transition-slower: 2s;
}
