extends base.pug  

block content   
  h1 Next Art
  p Next Art is an art club at Next House that aims to create opportunities for Nexties to do art! We have art supplies that any Nextie can borrow and we also hold events throughout the semester such as art evenings, in which people work on personal art projects while eating snacks together, and workshops, in which a Nextie volunteers to teach others how to do an art thing. Next Art encompasses all sorts of visual arts, including arts and crafts with some visual component.
