// easy to edit constants for theming, change the value of different properties to theme

// import fonts here; default Mirage fonts are imported below
@import url('https://fonts.googleapis.com/css?family=Bitter|Inconsolata|Open+Sans:300,400,700');

// themed fonts
$header: 'Bitter';
$subheader: 'Open Sans';
$body: 'Open Sans';
$code: 'Inconsolata';
$weight: 300; // default weight

// themed colors
$white: white;
$black: black;
$red: red;
$orange: orange;
$yellow: yellow;
$olive: olive;
$green: green;
$blue: blue;
$teal: teal;
$purple: purple;
$pink: pink;

// page size (this includes headers)
$max-width: 800px; // 100% for stretch
