html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--text-size);
}

body {
  max-width: var(--u-maxWd-ct);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  color: var(--text-header);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: var(--font);
}

pre {
  overflow: auto;
}

* {
  box-sizing: border-box;
}
